<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="/stylesheets/login.css" rel="stylesheet">
</head>

<body>
    <!-- Entre na sua conta -->
    <section class="quadrado">
        <div class="container">
            <div class="item">
                <label for="email"></label>
                <input type="email" placeholder="Email ou telefone" id="email" />
            </div>
            <div class="item">
                <label for="password"></label>
                <input type="password" placeholder="Senha" id="password" />
            </div>
            <div class="entrar">
                <button type="submit">Entrar</button>

            </div>
            <a href="/esquece">Esqueceu a senha?</a>
            <hr>
            <div class="criar">
                <button type="submit">Criar nova conta</button>
            </div>
        </div>
    </section>
    <!-- Entre na sua conta -->
</body>


</html>