* {
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
    font-family: inherit;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.quadrado {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 30px;
    left: 250px;
}

.container {
    background-color: #fff;
    width: 360px;
    height: 310px;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .container .item input {
    border-radius: 6px;
    width: 332px;
    padding: 0 16px;
    font-size: 20px;
    line-height: 48px;
    margin: 10px;
    border: 1px solid #dddfe2;
}

section .container .entrar button {
    border-radius: 6px;
    background-color: #1877f2;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    color: #fff;
    margin: 10px;
    border: none;
}

section .container .entrar button:hover {
    background-color: #0a5ecc;
    transition: all 0.5s;
    cursor: pointer;
}

section .container .criar button {
    background-color: #42b72a;
    cursor: pointer;
    color: #fff;
    border-radius: 6px;
    font-size: 17px;
    width: 250px;
    border: none;
    padding: 0 16px;
    line-height: 48px;
    margin-bottom: 10px;
}

section .container .criar button:hover {
    background-color: #31a71a;
    transition: all 0.5s;
}

a {
    color: #1877f2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    /* width: 150px; */
    height: 106px;
    position: relative;
    top: 200px;
    left: 200px;
    margin: -20px;
}

.descricao {
    display: flex;
    justify-content: center;
    position: relative;
    top: 200px;
    right: 227px;
}

.descricao h2 {
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}